body {
  background-color: bisque;
  color: black;
}

#post-cont {
  width: 75%;
  border: solid grey 1px;
  border-radius: 15px;
  margin: 15% auto;
  padding: 5vh 10vw;
  background-color: beige;
  text-align: center;
}

#post-cont p {
  text-align: justify;
}
