#menu-cont {
  position: sticky;
  top: 1vh;
  left: 1vw;
  width: auto;
  border: solid grey 2px;
  border-radius: 25px;
  background: radial-gradient(beige 60%, burlywood);
  padding: 3vh 10vw;
  background-color: beige;
  opacity: 0.5;
}

#menu-cont:hover {
  opacity: 1;
}

#menu-cont form {
  display: inline;
}

#filt-panel {
  display: inline-flex;
  float: right;
}
